<center>
<div>
<h1>Please enter your information below:</h1>
<form method="post" action="/phonebook">
	<input type="text" name="first_name" placeholder="Enter First Name"><br>
	<input type="text" name="last_name" placeholder="Enter Last Name"><br>
	<input type="text" name="street_address" placeholder="Enter Street Address"><br>
	<input type="text" name="city" placeholder="Enter City"><br>
	<input type="text" name="state" placeholder="Enter State"><br>
	<input type="text" name="zip" placeholder="Enter Zip"><br>
	<input type="text" name="cell_phone" placeholder="Enter Cell Phone"><br>
	<input type="submit" value="Submit">
</form>
</div>
</center>